/*--------------------------- tag selectors ---------------------*/
body {
  margin: 0;
  background-color: #E3FDFD;
}

li {
  font-family: 'Montserrat', sans-serif;
  color: #354259;
}
h4{
  display: inline;
  font-weight: bolder;
  color: #354259;
  font-family: 'Montserrat', sans-serif
}

hr {
  border-style: dotted;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  width: 5%;
  border-color: #354259;
  border-width: 10px;
}

p,span {
 color: #354259;
 font-family: 'Montserrat', sans-serif;
}
/*--------------------------- class selectors ---------------------*/
.nameJobDiv {
  margin-top: 100px;
  text-align: center;
}
.header {
  margin-top: 0;
  font-family: 'Caveat', cursive;

}
.backgroundImg {
  position: absolute;
  top: 220px;
  right: 300px;
  margin: 0 auto 0 auto;
}
.hi {
  text-align: center;
  margin-top: 150px;
  font-family: 'Caveat', cursive;
}

.secondDiv {
  text-align: center;
  background-color: #CBF1F5;
  position: absolute;
  width: 100%;
  height: 500px;
  top: 700px;
}

.thirdDiv {
  text-align: center;
  position: absolute;
  top: 900px;
  width: 100%;
  height: 600px;
  background-color: #A6E3E9;
}

.aboutmeLabel, .hireMe {
  padding: 20px;
  font-family: 'Caveat', cursive;
  color: #354259;
}

.myAvatar {
position: absolute;
right: 20px;
top: -100px;
}

.aboutme {
  position: absolute;
  left: 150px;
  top: 100px;
  width: 70%;
  font-family: 'Montserrat', sans-serif;
  color: #354259;
}

.experienceLabel {
  padding: 20px;
  font-family: 'Caveat', cursive;
  color: #354259;
}

.firstCloud {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 200px;
  top: 20px;
  z-index: 2;
}

.secondCloud {
  width: 100px;
  height: 100;
  position: absolute;
  right:500px;
  top: 70px;
  z-index: 1;
}

.roadImage {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 200px;
}

.presentJob {
  top: 200px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
}


.hireMeDiv {
  text-align: center;
  position: absolute;
  background-color: #71C9CE;
  width: 100%;
  top: 1500px;
  height: 300px;
}

.empLogo {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 350px;
  bottom: 0px;
}

.phoneImg {
  width: 40px;
  height: 40px;
}
.phone {
  position: absolute;
  margin: 0 auto;
  top: 10px;
}
.phoneDiv {
position: absolute;
text-align: center;
top: 200px;
left: 50%;
margin-left: -70px;
}

.aboutMelink {
  left: 100px;
}

.HomeLink {
  left: 20px;
}

.HomeLink, .swiftLink , .aboutMelink {
  top: 50px;
  position: absolute;
  display: inline;
  font-weight: bolder;
  color: #354259;
  font-family: 'Montserrat', sans-serif;
}


.gridView {
  position: absolute;
  top: 100px;
  padding: 50px;
  margin: 100px auto;
}

.CardView {
  padding: 20px;
  padding-right:40px;
  text-align: center;
  width: 250px;
  height: 250px;
  background-color: #CBF1F5;
  border-radius: 15px;
  margin: 0;
}

.CardTitle {
  position: absolute;
  top: 80px;
  width: 100px;
  font-family: 'Montserrat', sans-serif;
}
